<p id="notice"><%= notice %></p>

<h1>Listing Topics</h1>
  
  <% @topics.each do |topic| %> 
  <div class="topic_#{topic.id}">
    <%= link_to topic.name, topic %>
    <%= link_to 'Edit', edit_topic_path(topic) %>
    <%= link_to 'Destroy', topic, method: :delete, data: { confirm: 'Are you sure?' } %>   
  </div>
  <% end %>

<%= link_to 'New Topic', new_topic_path %>
