<div class="chapter-section">
	<p id="section-id">
	  <span class="fa fa-file-text"></span>
	  <%= @section.name %>
	</p>  
	<p id="section-time">Created on <%= @section.created_at.strftime("%b #{@section.created_at.day.ordinalize}, %Y") %> | Updated <%= time_ago_in_words(@section.updated_at) %> ago</p>
</div>

<p class="back-link-spl">
	<%= link_to book_path(@chapter.book) do %>
	  <span class="glyphicon glyphicon-arrow-left"></span>
	    Back to <strong><%= @book.name %></strong> Book
	<% end %>
</p>

<p>
  <%= link_to edit_book_chapter_section_path(@book, @chapter, @section), class: "btn btn-success right section-btn" do %>
    <span class="glyphicon glyphicon-edit"></span>
    Edit
  <% end %>
</p>

<div id="chapter-description"><%= sanitize (@section.description) %></div>
