<div class="chapter-section">
	
  <ul class="breadcrumb-spl">
	  <li><%= link_to "All Books", books_path %></li>
	  <li>
      <%= link_to book_path(@book), data: { "toggle" => "tooltip", "placement" => "top", "title" => "book"} do %>
        <span class='fa fa-book'></span>
        <%= @book.name %>
      <% end %>
    </li>  
    <li>
      <%= link_to book_chapter_path(@book, @chapter), data: { "toggle" => "tooltip", "placement" => "top", "title" => "chapter"} do %>
        <span class='fa fa-file'></span>
        <%= @chapter.name %>
      <% end %>
    </li>
    <li>
      <%= link_to book_chapter_section_path(@book, @chapter, @section), data: { "toggle" => "tooltip", "placement" => "top", "title" => "section"} do %>
        <span class='fa fa-file-text'></span>
        <%= @section.name %>
      <% end %>
    </li>   
	</ul>

	<div class="section-cover">		
		<p>
      <b>Section:</b>
      <%= @section.name %>
      <%= link_to edit_book_chapter_section_path(@book, @chapter, @section), class: "section-edit" do %>        
        <span class="label label-success">Edit</span>
      <% end %>
    </p>
    <p>
      <b>Created:</b> 
      <span class="section-time"> 
        <%= @section.created_at.strftime("%b #{@section.created_at.day.ordinalize}, %Y") %>
      </span> | 
      <b>Updated:</b> 
      <span class="section-time">
        <%= time_ago_in_words(@section.updated_at) %> ago
      </span>  
    </p>
		<p id="section-tags"> 
      <b>Tags:</b>
      <% if @book.tag_list.present? %>
        <%= sanitize @section.tag_list.map { |t| link_to t, tag_path(t), class: "label label-default" }.join(' ') %>
      <% else %>
        No tags
      <% end %>  
    </p>
    <p class="back-link">
      <%= link_to book_chapter_path(@book, @chapter), class: "label label-default" do %>        
        <span class="glyphicon glyphicon-arrow-left"></span>
        Go Back
      <% end %>    
    </p>    
	</div>	
</div>

<div id="section-description">
  <% if @section.description.present? %>
    <%= sanitize (@section.description) %>
  <% else %>
    <h1>No Description</h1>
  <% end %>  
</div>
