<div class="chapter">
  <div class="panel panel-default">
    <div class="panel-heading chapter-list">  
      <span class="chapter-name">        
          <span class='glyphicon glyphicon-list-alt'></span>
          <%= chapter.name %>
      </span> 
      
      <span class="chapter-description"> <%= chapter.description %> </span>  
      
      <span class="chapter-access-links hide">
        <%= link_to edit_book_chapter_path(@book, chapter) do %>
          <span class="glyphicon glyphicon-edit"></span>
            Edit
        <% end %>                   
      </span>
    </div>
    
    <div class="panel-body panel-body-min-height">
    <p>
      <%= link_to new_book_chapter_section_path(@book, chapter), class: "btn btn-success right section-btn chapter-access-links hide" do %>
          <span class="glyphicon glyphicon-credit-card"></span>
          New section
        <% end %>
    </p>

      <% chapter.sections.each do |section| %>        
        <p class="section-list">
          <%= link_to book_chapter_section_path(@book, chapter, section) do %>
          <span class="glyphicon glyphicon-credit-card"></span>          
            <%= section.name %>
          <% end %>
        </p>
      <% end %>
    </div>
  </div>
</div>