<div class="chapter">
  <div class="panel panel-default">
    <div class="panel-heading chapter-list">  
      <span class="chapter-name">        
          <span class='fa fa-file'></span>
          <%= link_to chapter.name, book_chapter_path(@book, chapter), class: "chapter-link", data: { "toggle" => "tooltip", "placement" => "top", "title" => "chapter"} %>
      </span> 
           
      <span class="chapter-description"> <%= chapter.description %> </span>  
      
      <span class="chapter-access-links hide">
        <%= link_to edit_book_chapter_path(@book, chapter) do %>
          <span class="glyphicon glyphicon-edit"></span>
            Edit
        <% end %>                   
      </span>
    </div>
    
    <div class="panel-body panel-body-min-height">
    <p>
      <%= link_to new_book_chapter_section_path(@book, chapter), class: "btn btn-success right section-btn chapter-access-links hide" do %>
          <span class="fa fa-file-text"></span>
          New section
        <% end %>
    </p>

      <% chapter.sections.each do |section| %>        
        <p class="section-list">
          <%= link_to book_chapter_section_path(@book, chapter, section), data: { "toggle" => "tooltip", "placement" => "left", "title" => "section"} do %>
          <span class="fa fa-file-text"></span>          
            <%= section.name %>
          <% end %>
        </p>
      <% end %>
    </div>
  </div>
</div>