<%= link_to new_book_path, class: "btn btn-primary right" do %>
  <span class="glyphicon glyphicon-book"></span>
  New book
<% end %>

<h1>
  <span class='glyphicon glyphicon-book'></span> 
  <span class= 'book-total'> <%= pluralize( @books.all.size, "Book") %></span>
</h1>
<table class="table table-hover">

  <% @books.each do |book| %>       
    <tr class="book">
      <td>
        <%= link_to book, class: "book-link" do %>
          <span class="glyphicon glyphicon-book"></span>
          <%= book.name %>
        <% end %>     
        <span class="book-access-links hide">
            <%= link_to edit_book_path(book) do %>
              <span class="glyphicon glyphicon-edit"></span> Edit     
            <% end %>             
          </span>
      </td>
    </tr>
  <% end %>

</table>