<div class="book-chapter">
	<p id="book-id"><span class='glyphicon glyphicon-book'></span> <%= @book.name %></p>
  <p id="book-description"><%= @book.description %></p>
  <p id="book-time">Created on <%= @book.created_at.strftime("%b #{@book.created_at.day.ordinalize}, %Y") %> | Updated <%= time_ago_in_words(@book.updated_at) %> ago</p>
</div>
<p class="back-link">
	<%= link_to books_path do %>
	  <span class="glyphicon glyphicon-arrow-left"></span>
	    Back to <strong>All Books</strong>
	<% end %>
</p>

<p>
  <%= link_to new_book_chapter_path(@book), class: "btn btn-warning right chapter-btn" do %>
    <span class='fa fa-file'></span>
     New chapter
  <% end %>
</p>

<h3>
  <span class='fa fa-file'></span> 
  <span class='chapter-total'><%= pluralize( @book.chapters.all.length, "Chapter") %></span>
</h3>
<%= render partial: 'books/chapter', collection: @book.chapters %>