<div class="book-chapter">
	
  <ul class="breadcrumb-spl">
    <li><%= link_to "All Books", books_path %></li>
    <li>
      <%= link_to book_path(@book), data: { "toggle" => "tooltip", "placement" => "top", "title" => "book"} do %>
        <span class='fa fa-book'></span>
        <%= @book.name %>
      <% end %>
    </li>  
  </ul>

  <div class="book-cover">    
    <p id="book-description">
      <b>Description:</b> 
      <%= @book.description %>
    </p>
    <p>
      <b>Created:</b> 
      <span class="book-time"><%= @book.created_at.strftime("%b #{@book.created_at.day.ordinalize}, %Y") %></span>
        |
      <b>Updated:</b> 
      <span class="book-time"><%= time_ago_in_words(@book.updated_at) %> ago</span>
        |
      <b>Total:</b>
       <span class='chapter-total'><%= pluralize( @book.chapters.all.size, "Chapter") %></span>
    </p>
    <p id="book-tags"> 
      <b>Tags:</b>
      <% if @book.tag_list.present? %>
        <%= sanitize @book.tag_list.map { |t| link_to t, tag_path(t), class: "label label-default" }.join(' ') %>
      <% else %>
        no tags
      <% end %>
    </p>
    <p class="overflow-auto">
      <%= link_to new_book_chapter_path(@book), class: "btn btn-warning chapter-btn right" do %>
        <span class='fa fa-file'></span>
        Add Chapter
      <% end %>
    </p>
      <div class="sort-links">
        <b>Sort:</b>
        <a href="#">Alphabet</a> |
        <a href="#">Created</a> |
        <a href="#">Updated</a> |
        <a href="#">Default</a>  
      </div>

    </div>
</div>

<%= render partial: 'books/chapter', collection: @book.chapters %>