<div class="chapter-section">
	<p id="chapter-id"><%= @chapter.name %></p>
  <p id="chapter-description"><%= @chapter.description %></p>
</div>

<p class="back-link">
	<%= link_to book_path(@chapter.book) do %>
	  <span class="glyphicon glyphicon-arrow-left"></span>
	    Back to <strong><%= @book.name %></strong> Book
	<% end %>
</p>

<p>
  <%= link_to 'New section', new_book_chapter_section_path(@book, @chapter), class: "btn btn-success right section-btn" %>
</p>

<h3><%= pluralize( @chapter.sections.all.length, "Section") %></h3>
<%= render partial: 'chapters/section', collection: @chapter.sections %>