<div class="chapter-section">
  <ul class="breadcrumb-spl">
    <li><%= link_to "All Books", books_path %></li>
    <li>
      <%= link_to book_path(@book), data: { "toggle" => "tooltip", "placement" => "top", "title" => "book"} do %>
        <span class='fa fa-book'></span>
        <%= @book.name %>
      <% end %>
    </li>  
    <li>
      <%= link_to book_chapter_path(@book, @chapter), data: { "toggle" => "tooltip", "placement" => "top", "title" => "chapter"} do %>
        <span class='fa fa-file'></span>
        <%= @chapter.name %>
      <% end %>
    </li>       
  </ul>
  <div class="chapter-cover">
    <p>
      <%= link_to new_book_chapter_section_path(@book, @chapter), class: "btn btn-success right section-btn" do %>
        <span class="fa fa-file-text"></span>
        Add Section
      <% end %>
    </p>
    
    <p>
      <b>Chapter:</b> 
      <%= @chapter.name %>
      <%= link_to edit_book_chapter_path(@book, @chapter), class: "chapter-edit" do %>        
        <span class="label label-warning">Edit</span>
      <% end %>
    </p>    
    <p id="chapter-description">
      <b>Description:</b> 
      <% if @chapter.description.present? %>
        <%= @chapter.description %>
      <% else %>
      No description
      <% end %>
    </p>
    <p>
      <b>Created:</b>
      <span class="chapter-time"><%= @chapter.created_at.strftime("%b #{@chapter.created_at.day.ordinalize}, %Y") %></span> | 
      <b>Updated:</b> 
      <span class="chapter-time"><%= time_ago_in_words(@chapter.updated_at) %> ago</span> |
      <b>Total:</b>
      <span class='section-total'><%= pluralize( @chapter.sections.all.size, "Section") %></span>
    </p>
    <p id="chapter-tags"> 
      <b>Tags:</b>
      <% if @chapter.tag_list.present? %>
        <%= sanitize @chapter.tag_list.map { |t| link_to t, tag_path(t), class: "label label-default" }.join(' ') %>
      <% else %>
        No tags
      <% end %>  
    </p>
    
    <div class="sort-links">
      <b>Sort:</b>
      <a href="#">Alphabet</a> |
      <a href="#">Created</a> |
      <a href="#">Updated</a> |
      <a href="#">Default</a>  
    </div>  
  </div>  
</div>

<% if @chapter.sections.present? %>
  <h1 class="center">All sections</h1>
  <%= render partial: 'chapters/section', collection: @chapter.sections %>
<% else %>
 <h1 class="center">No sections</h1>
<% end %>